html,body {
    height:100%;
    color: #202020;
    font-family: 'Lato', sans-serif;
    background-color:#fff;
    
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
}
/**/
/*a {*/
/*    color:#150873;*/
/*}*/
/**/
/*a:hover {*/
/*    color:#3F92D2;*/
/*    text-decoration: none;*/
/*}*/

#process  p{
	width: 250px;;
}

.off {
    background-color:#ed7063;
    color: #eeeee6;
}

 .off:hover {
    background-color:#202020;
	color: #eeeee6 ;
 }

.btn,.well,.panel {
    border-radius:0;
}

h2 {
    font-size:52px;
}

.panel-heading {
	min-height:260px;
}

.btn-danger {
    background-color:#898989;
}

.text-danger, a.text-danger {
    color:#f44d3c;
}

a.main-phone {
    color:#eeeee6;
}

a.main-phone:hover {
    color:#fff;
    text-decoration:none;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.roboto {
    font-family: 'Roboto';
}
.big {
	font-size:68px;
	}
	
.icon-bar {
	background-color:#fff;
}


.navbar-trans {
	background-color:#ed7063;
    border-width:0;
    border-color:#fff;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
/*    color:#f44d3c;*/
}

.navbar-trans li>a:focus, .navbar-trans li.active>a {
	background-color:#898989;
	color:#eeeee6;
}

.navbar-trans li>a:hover {
	background-color:#8989A9;
	color:#fff;
}

.navbar-trans a{
    color:#cdcdcd;
    letter-spacing:1px;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.2);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

section {
	padding-top:50px;  
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}

.v-center.h1 {
    min-width:520px;
}
  
#section1 {
	background-color: #8989D9;
}

#section4 {
    background-color: #CCCCFF;
/*	color: #473B10;*/
}
  
#section2 {
	background-color: #9999CC;
}

footer {
    background-color:#ed7063;
    min-height:100px;
    padding:20px;
}

footer a {
    padding: 3px;
    color:#eeeee6;
}

footer a:hover {
	color:#fff;
    text-decoration: none;
}

